<!-- app/views/sessions/new.html.erb -->

<h3>Login</h3>

<%= form_tag '/login' do %>

  <label for="email">Email: </label>
  <%= text_field_tag :email %>
  <label for="password">Password: </label>
  <%= password_field_tag :password %>

  <%= submit_tag "Submit", class: "btn" %>

<% end %>

<%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn margin-top-15" %>
