<h2>Cadastro do TechTalk</h2>

<%# if @techtalk.errors.any? %>
<%# end %>

<%= form_for @techtalk, url: { action: "create" }, html: { class: "form-horizontal" } do |f| %>
  <%= f.label :title, 'Título do TechTalk' %>
  <%= f.text_field :title, placeholder: "Ex.: TechTalk Explosion", input_html: { class: 'input-field' } %>

  <%= f.label :description, 'Descrição do TechTalk' %>
  <%= f.text_area :description, class: "materialize-textarea", length: "120" %>

  <%= f.label :type, 'Categoria' %>
  <%= f.text_field :type, placeholder: "Ex.: Programação, Design, UX...", input_html: { class: 'input-field' } %>

  <%= f.label :company_name, 'Nome da empresa' %>
  <div class="input-field col s6">
    <%= f.text_field :company_name, placeholder: 'Informe o nome da sua empresa' %>
  </div>

  <%= f.label :url, 'Site' %>
  <%= f.text_field :url, placeholder: 'Ex.: www.google.com', class: "input-field" %>

  <%= f.label :company_email, 'Email' %>
  <div class="input-field col s6">
    <%= f.text_field :company_email, placeholder: 'seu-email@seu-dominio.com', class: "input-field" %>
  </div>

  <%= f.submit "Cadastrar", class: "btn" %>
<% end %>
